.messageForm{
  margin-bottom:1em;
  position:relative;

  height:30px;
}

.messageForm__text{
  position:absolute;
    left:0;
    top:0;
    bottom:0;

  width:80%;
  margin:0;


}

.messageForm__submit{

  position:absolute;
    right:0;
    top:0;
    bottom:0;

  box-sizing:border-box;
  width:20%;
  padding:0;

  display:flex;
  justify-content: center;/* 3 */
  align-items: center;    /* 4 */
  
}
