extends layout

block content
  h1 sec-cha
  
  
  h2 チャットIDを入力してね
  p "riri-masa" にしといたよ。覚えてね
 
  form(action="/rooms/enter" method="post")
    input(type="text" name="room_name")
    input(type="submit" value="入室")



