extends layout

block content
  h1 sec-cha
  
  
  h2 新しい部屋を作成
 
  form(action="/rooms/" method="post")
    
    h3 部屋名
    input(type="text" name="room_name")

    // あとで
      h4 女の子名
      input(type="text" name="girl_name")
    input(type="submit" value="入室")



